/*  your css code here. If applicable */
body {
	background-color: black;
}
.container {
	display: grid;
	grid-template-columns: repeat(40,20px);
	gap: 2px;
}

.square {
	height:20px;
	width:20px;
	background-color: rgb(29, 29, 29);
}